<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logDirectory">C:/Users/jkukla2/DXC/Tasks/BatchDeletionTestTool/batchBlobDelete/batchBlobDelete/target</Property>
        <Property name="logFileName">batchDeletion.log</Property>
        <Property name="resolvedLogFilePath">${sys:logFilePath:-${logDirectory}/${logFileName}}</Property>
        <Property name="logPattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingFile name="FileLogger"
                     fileName="${resolvedLogFilePath}"
                     filePattern="${resolvedLogFilePath}-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.example.batchdelete" level="info" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
